@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior:smooth;
}



:root {
    --nav-bg-color: #558564;
    --links-color: #95f9e3;
    --hero-bg: #49d49d;
    --titles: #564946;
    --cta-bg: #2d157a;
    --companies-bg: #69ebd0;
}

.mobile-links{
    display: none;
}

nav p{
    display: none;

}

.container{
    display: grid;
    overflow-x: hidden;
    grid-template-columns: 1fr;
    grid-gap: 0;
    grid-template-areas: "nav ."
                        "hero ."
                        "companies ."
                        "services ."
                        "svg1 ."
                        "features ."
                        "svg2 ."
                        "aboutUs ."
                        "footer .";
}


.showNav{
    display: none;
}

nav{
    grid-area: nav;
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--nav-bg-color);
    
}

.logo h1 a{
    text-decoration: none;
    color: var(--links-color);
    font-size: 2rem;
    letter-spacing: 0.2rem;
}

nav ul{
    list-style: none;
    display: flex;
    margin-left: 16rem;
}

nav ul li{
    margin-right: 1rem;
    text-align: center;
    
}

nav ul li a:hover{
    border-bottom: 4px solid;
}

nav ul li a{
    color: var(--links-color);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem;
    text-transform: uppercase;
    
}


#hero{
    grid-area: hero;
    height: 88vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    background: var(--hero-bg);
}

.mainCopyAndCta{
    position: relative;
    right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 55%;
    width: 60%;
    
}

.mainCopyAndCta p{
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--titles);
    
}

.success{
    color: #fff;
    background: rgb(0, 211, 0);
    padding: 0.2rem 1rem;
    transition: 0.3s;
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    width: 60%;
}

.userEmail, .userName{
    justify-content: space-evenly;
    align-items: flex-start;
}

.userName label, .userEmail label{
    color: var(--titles);
    font-size: 1.4rem;
    font-weight: 700;
}

.userEmail input, .userName input{
    width: 25rem;
    height: 3rem;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 40px;
    border: none;
    margin-top: 0.7rem;
    outline: none;
}

#form button{
    margin-top: 1rem;
    padding: 0.5rem 3rem;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    background: var(--cta-bg);
    border: none;
    color: #fff;
    transition: 0.3s;
    letter-spacing: 0.1rem;
}

#form button:hover{
    background: #fff;
    color:  var(--cta-bg);
}

#hero img{
    min-width: 623px;
    min-height: 400px;
    display: block;
}

.mainCopyAndCta button{
    margin-top: 1rem;
    font-size: 1.7rem;
    font-weight: 600;
    color: #fff;
    padding: 1rem 2rem;
    background: var(--cta-bg);
    border: none;
    cursor: pointer;
    transition : 0.3s;
}

.mainCopyAndCta button:hover{
    color:  var(--cta-bg);
    padding: 1rem 2rem;
    background: #fff;
}

#companies{
    padding: 5rem;
    grid-area: companies;
    height: 35vh;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    background: var(--companies-bg);
    overflow:hidden;
}

#companies h2{
    color: var(--titles);
    padding: 1rem 2rem;
    margin-bottom : 0.5rem;
    font-size: 2rem;
}

.companies-images{
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.companies-images img{
    width: 125px;
    height: 83px;
}

#services{
    padding-top: 0rem;
    grid-area: services;
    height: 60vh;
    width: 100vw;
    align-items: center;
    justify-content: space-evenly;
    background: var(--hero-bg);
}

#services h2{
    color: var(--titles);
    font-size: 2rem;
}

.services-details{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
}

.service:nth-child(1){
    border-right: 4px solid;
}
.service:nth-child(2){
    border-right: 4px solid;
}

.service{
    width: 30%;
    text-align: center;
    padding: 2rem;
    justify-content: space-between;
}

.service h3{
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

.service p{
    color: var(--titles);
    font-weight: 700;
}


.svg1{
    grid-area: svg1;
    transform: rotateZ(180deg);
    background: var(--hero-bg);
    margin-top: -1px;
    border: none;
    z-index: 80;
}


#features{
    padding: 0 10rem 4rem;
    grid-area: features;
    background: var(--companies-bg);
    align-items: center;
    z-index: 5;
}

#features h2{
    margin-bottom: 2rem;
    color: var(--titles);
    font-size: 2rem;
}

.features{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 25px;
}

.feature{
    color: #fff;
    background: #2d157a;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.feature img{
    height: 250px;
    width: 250px;
    max-height: 250px;
    max-width: 250px;
}

.feature-details{
    text-align: center;
    width: 50%;
}

.feature-details h3{
    color: #000;
    margin-bottom: 1rem;
}


.svg2{
    grid-area: svg2;
    background: var(--companies-bg);
}

#about-us{
    background: var(--hero-bg);
    align-items:center;
    justify-content: space-between;
    text-align: center;
    padding: 0 1rem 2.5rem;
    height: 60vh;
    grid-area: aboutUs;
    z-index: 5;
}


#about-us h3{
    color: var(--titles);
    font-size: 2rem;
}

#about-us p{
    color: var(--titles);
    font-size: 1.5rem;
    font-weight: 700;
    width: 35%;
    line-height: 1.8;
    margin-bottom: 1rem;
}

.socials{
    display: inline-block;
    width: 30%;
    text-align: center;
}

.socials a{
    margin-right: 3rem;
    margin-left: 3rem; 
    
}
.socials a img{
    height: 50px;
    width: 50px;
    transition: 0.3s;
}

.socials a img:hover{
    transform: translateY(-5px);
}

footer{
    grid-area: footer;
    background: #000;
    color: #fff;
    text-align: center;
    padding: 0.5rem 1rem;
}

#about-us, #features, #services, .service,
 #companies, .userEmail, .userName{
     display: flex;
     flex-direction: column;
 }


/*MEDIA QUERIES*/


/*MAX WIDTH 480PX*/

@media screen and (max-width: 480px) {
    
    .container{
        overflow-x: scroll;
    }

    nav, #hero, #companies, #services,
    .svg1, #features, .svg2, #about-us, footer{
        max-width: 100vw;
        height: auto; 
    }

    nav{
        justify-content: space-between;
        padding: 1rem;
    }

    nav ul{
        display: none;
    }

    .closeNav{
        font-size: 2rem;
        font-weight: 700;
        background: var(--links-color);
        padding: 0 1rem;
    }

    .showNav{
        width: 12%;
        height: 80%;
        display: flex;
        justify-content: center;
        transform: rotateZ(90deg);
        cursor: pointer;
    }

    .showNav span{
       border: 2px solid;
       margin-right: 5px;
       
    }

    #hero{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center ;
      
    }

    .mobile-links{
        list-style: none;
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        height: auto;
        width: 100vw;
        background: var(--cta-bg);
        transition: 0.3s;
    }

    .mobile-links li{
        margin-right: 1rem;
        width: 100vw;
        padding: 1rem 0;
        border-bottom: 2px solid #fff;
    }

    .mobile-links li a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 600;
        padding-left: 1rem;
    }


    .mainCopyAndCta{
        margin-top: 1rem;
        position: relative;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 55%;
        width: 80%;
        
    }

    .mainCopyAndCta p{
        text-align: center;
        font-size: 1.7rem;
        
    }

    .mainCopyAndCta button{
        font-size: 1.4rem;
        letter-spacing: 0.1rem;
    }

    img.hero-image{
        position: relative;
        transform: scale(0.55);
    }

    #companies h2{
        color: var(--titles);
        padding: 0rem 2rem;
        margin-bottom : 0.5rem;
        font-size: 1.8rem;
        width: 80vw;
    }
    
    .companies-images{
        margin-top: 2.5rem;
        height: 40vh;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .companies-images img{
        width: 125px;
        height: 83px;
        margin-bottom: 3rem;
    }

    
    .services-details{ 
        width: 90%;
        flex-direction: column;
    }
    
    .service:nth-child(1){
        border: none;
    }
    .service:nth-child(2){
        border: none;
    }
    
    .service{
        width: 80%;
    }
    
    
    .feature{
        grid-template-columns: 1fr;
        padding: 2rem;
    }
    
    
    .feature-details{
        text-align: center;
        width: 90%;
    }
    
    
    #about-us{
        height: auto;
    }
    

    
    #about-us p{
        width: 90%;
        margin-top: 1rem;

    }
    
    .socials{
        width: 80%;
        margin-top: 1rem;
        
    }
    
    .socials img{
        margin-bottom: 1.5rem;
    }

    
    #form{
        align-items: center;
        overflow-x: hidden;
        height: 50%;
        width: 80%;
    }
    
    .userEmail, .userName{
        justify-content: space-evenly;
        align-items: flex-start;
    }

    
    .userEmail input, .userName input{
        width: 95%;
        height: 2rem;
        padding: 1rem;
    }
    

}

/*MAX WIDTH 768PX*/

@media screen and (min-width: 481px) and (max-width: 768px) {
    
    nav{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: var(--nav-bg-color);
        padding: 5rem 0;
    }
    
    .logo h1 a{
        font-size: 2.5rem;
    }
    
    nav ul{
        margin: 1rem 0;
    }
    
    nav ul li{
        margin: 0 0.2rem;

    }
    
    nav ul li a{
        font-size: 1.4rem;
        padding: 1rem 0.5rem;
        
    }

    #hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center ;
        width: 100vw;
       }
   
       .mainCopyAndCta{
           align-items: center;
           right: 0;
           left: 0;
           bottom: 0;
           top: 0;
           height: auto;
           width: 70%;
           margin-top: 5rem;
       }
   
       .mainCopyAndCta p{
           font-size: 1.8rem;
           text-align: center;
           margin-bottom: 2rem;
       }
   
       .mainCopyAndCta button{
           font-size: 1.1rem;
           letter-spacing: 0.1rem;
       }
   
       img.hero-image{
           position: relative;
           bottom: 1rem;
           transform: scale(0.7);
    
       }

       #companies, #features, #about-us{
           width: 100vw;
           
       }

       #companies h2{
        color: var(--titles);
        padding: 0rem 2rem;
        margin-bottom : 0.5rem;
        font-size: 1.8rem;
        width: 80vw;
        
    }
    
    .companies-images{
        margin-top: 2.5rem;
        height: 40vh;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .companies-images img{
        width: 125px;
        height: 83px;
        margin-bottom: 3rem;
    }

    
    .services-details{ 
        width: 90%;
        flex-direction: column;
    }
    
    .service:nth-child(1){
        border: none;
    }
    .service:nth-child(2){
        border: none;
    }
    
    .service{
        width: 80%;
    }
    
    
    .feature{
        grid-template-columns: 1fr;
        padding: 2rem;
    }
    
    
    .feature-details{
        text-align: center;
        width: 90%;
    }
    
    
    #about-us{
        height: auto;
    }
    

    
    #about-us p{
        width: 90%;
        margin-top: 1rem;

    }
    
    .socials{
        width: 80%;
        margin-top: 1rem;
        
    }
    
    .socials img{
        margin-bottom: 1.5rem;
    }

    
    #form{
        align-items: center;
        overflow-x: hidden;
        height: 50%;
        width: 80%;
    }
    
    .userEmail, .userName{
        justify-content: space-evenly;
        align-items: flex-start;
    }

    
    .userEmail input, .userName input{
        width: 95%;
        height: 2rem;
        padding: 1rem;
    }
    
    #companies, #services, #features, #about-us, footer{
        height: auto;
    }

}


/*MIN-WIDTH 769PX AND MAX-WIDTH 1010*/

@media screen and (min-width: 769px) and (max-width: 1010px){
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--nav-bg-color);
        padding: 5rem 0;
        width: 100vw;
    }
    
    .logo h1 a{
        font-size: 2.5rem;
    }
    
    nav ul{
        margin: 1rem;
    }
    
    nav ul li{
        margin: 0 1rem;
        
    }
    
    nav ul li a{
        font-size: 1.6rem;
        padding: 1rem 0.5rem;
    }

    #hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center ;
        width: 100vw;
       }
   
       .mainCopyAndCta{
           align-items: center;
           right: 0;
           left: 0;
           bottom: 0;
           top: 0;
           height: auto;
           width: 70%;
           margin-top: 5rem;
       }
   
       .mainCopyAndCta p{
           font-size: 2rem;
           text-align: center;
           margin-bottom: 2rem;
       }
   
       .mainCopyAndCta button{
           font-size: 1.5rem;
           letter-spacing: 0.1rem;
           padding-left: 4rem;
           padding-right: 4rem;
       }
   
       img.hero-image{
           position: relative;
           
           transform: scale(0.8);
       }

       #companies, #features, #about-us{
           width: 100vw;   
       }

       #companies h2{
        color: var(--titles);
        padding: 0rem 2rem;
        margin-bottom : 0.5rem;
        font-size: 2.4rem;
        width: 80vw;
        
    }
    
    .companies-images{
        margin-top: 2.5rem;
        height: auto;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .companies-images img{
        width: 125px;
        height: 83px;
        margin-bottom: 3rem;
        margin-top: 1rem;
    }

    .companies-images img:last-child{
        margin-bottom: 0rem;
    }

    
    .services-details{ 
        width: 90%;
        flex-direction: column;
    }
    
    .service:nth-child(1){
        border: none;
    }
    .service:nth-child(2){
        border: none;
    }
    
    .service{
        width: 80%;
    }
    
    
    .feature{
        grid-template-columns: 1fr;
        padding: 2rem;
    }
    
    
    .feature-details{
        text-align: center;
        width: 90%;
    }
    
    
    #about-us{
        height: auto;
    }
    

    
    #about-us p{
        width: 90%;
        margin-top: 1rem;

    }
    
    .socials{
        width: 80%;
        margin-top: 1rem;
        
    }
    
    .socials img{
        margin-bottom: 1.5rem;
    }

    
    #form{
        align-items: center;
        overflow-x: hidden;
        height: 50%;
        width: 80%;
    }
    
    .userEmail, .userName{
        justify-content: space-evenly;
        align-items: flex-start;
    }

    
    .userEmail input, .userName input{
        width: 95%;
        height: 2rem;
        padding: 1rem;
    }
    
    #companies, #services, #features, #about-us, footer{
        height: auto;
    }

}
    

